body{
    background-color: rgb(135, 145, 155);
}

#middle{
    position: fixed;
    left: 25%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid thin  rgb(108, 115, 122);
    border-radius: 25px;
    padding: 25px;
    background-color: rgb(180, 190, 201);

}
form{
    display: flex;
    flex-direction: column;
}
form input{
    margin: 5px;
    padding: 6px 12px;
}

#alert{
    background-color: rgb(255, 195, 195);
    border:solid thin rgb(255, 90, 90);
    border-radius: 15px;
    color:rgb(255, 90, 90);

    padding: 30px;
}